<header class = "header">
    <div class = "row">
        <div class = "header__text-box"> 
            <h1 class = "heading-primary">
                <span class = "heading-primary--main">Eat-Da-Burger</span>
                <span class = "heading-primary--sub">Are you Ready to Order?</span>
            </h1>
            
        </div>
    </div> 
  <div class="row">
      <div class = "col-md-4">
          <div class="devoure-container">
               <h1>Ready to Eat Burger?</h1>
                    <ul>
                      {{#each burgers}}
                         {{#unless this.devoured}}
                            <li><h3>
                              {{this.burger_name}}
                            
                              <button id="devoureBtn" data-value ="true" class="btn btn-warning btn-sm" data-id={{this.id}}> Davoure it </button>
                            
                            </li></h3>
                          {{/unless}}
                      {{/each}}
                    </ul>
           </div>
      </div>

      <div class = col-md-4>
        <div class= "order-form">
        <form class="create-form">
              <div class="form-group">
                      <input type="text" id="bur" name="burger_name">
                      <button type="submit"class="btn btn-secondary btn-lg">Order it</button>
              </div>
          </form>
          </div>

      </div>

     <div class = "col-md-4">
          <div class="ready-container">
   
              <h1>Enjoyed Burger!</h1>
                    <ul>
                    {{#each burgers}}
                      {{#if this.devoured}}
                        <li><h3>{{this.burger_name}}
                          <button id="deleteBtn"  data-value="false" data-id={{this.id}}>Delete <i class="far fa-trash-alt"></i></button>
                        </li></h3>
                      {{/if}}
                    
                    {{/each}}
                  </ul>
            </div>
    </div>
  </div>
</header>
 
