body{
    background-color: #cebd86;
    margin :0;
}
h1{
    font-size:5rem;
    font-display:blue;
    font-family: 'Black Ops One', cursive;
}
img{
    height:50px;
    width:70px;
    border:2px;
}
